body {
    font-family: 'Montserrat', sans-serif;
}

.top {
    width: 100%;
    display: flex;
}

.home {
    padding-top: 2vh;
    padding-left: 2vw;
}

.add {
    padding-top: 2vh;
    padding-left: 3vw;
}

.home a {
    height: 10vh;
    color: transparent;
    padding-right: 4vw;
}

.home a img {
    height:10vh;
}

.add a {
    height: 10vh;
    color: transparent;
}

.add a img {
    height:10vh;
}

.add a img:hover {
    border: 0px solid gray;
    border-radius: 100%;
}

.home a img.domek:hover {
    margin-left: -1vh;
    margin-top: -1vh;
    height:12vh;
}

h4 {
    padding-top: 2vh;
    width: 100%;
    text-align: center;
}

td a img {
    height: 4vh;
    padding-right: 0.5vw;
}

td a img:hover {
    height: 6vh;
}

table {
    font-size: 13px;
    position: relative;
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: center;
    padding: 4px;
    border: 1px solid #ddd;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

table tr:hover {
    background-color: #89b288b0;
}

table th  {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #4CAF50;
    color: white;
}

.filter {
    width: 20%;
    align-items: center;
    margin: auto;
    margin-top: 2vh;
    display: flex;
}

fieldset {
    width: 25vw;
    display: block;
    margin-right: 2vh;
    padding-top: 0.35em;
    padding-bottom: 0.625em;
    padding-left: 0.75em;
    padding-right: 0.75em;
    border: 1px solid black;
}

legend {
    padding: 5px 10px;
    width: auto;
    font-size: 16px;
}

.filter button {
    margin-left: 0.5vw;
}

.fa-plus-circle {
    font-size: 8vh;
    color: green;
    text-align: center;
}

.fa-trash {
    margin-left:10px;
    font-size: 25px;
    color: green;
    text-align: center;
}

.fa-file {
    margin-left:10px;
    font-size: 23px;
    color: green;
    text-align: center;
}

.fa-folder {
    margin-left:10px;
    font-size: 27px;
    color: green;
    text-align: center;
}

.fa-edit {
    font-size: 25px;
    color: green;
    text-align: center;
}

.fa-home {
    font-size: 9vh;
    color: green;
    text-align: center;
}

.fa-plus-circle:hover {
    color: red;
}

.fa-trash:hover {
    color: red;
}

.fa-folder:hover {
    color: red;
}

.fa-file:hover {
    color: red;
}

.fa-edit:hover {
    color: red;
}

.fa-home:hover {
    color: red;
}

p {
    text-align: center;
    font-size: 3vh;
}

.fa-plus-circle .tooltiptext {
    top:auto;
    left:auto;
    margin-left: -10vw;
    margin-top: 9vh;
    font-size: 2vh;
    visibility: hidden;
    width: 15vw;
    background-color: red;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding-top: 1vh;
    padding-bottom: 1vh;
    z-index: 2;
    font-weight: 500;
    position: absolute;
}

.fa-home .tooltiptext {
    font-weight: 500;
    top:auto;
    left:auto;
    margin-left: -9vw;
    margin-top: 9vh;
    font-size: 2vh;
    visibility: hidden;
    width: 12vw;
    background-color: red;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding-top: 1vh;
    padding-bottom: 1vh;
    position: absolute;
}

a:hover .tooltiptext {
    visibility: visible;
}